{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
    },
    "plugins": [
      "react",
      "prettier",
      "jsx-a11y"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
          }
    },
    "rules": {
      "prettier/prettier": ["error", {"trailingComma": 'es5', "singleQuote": true}],
      "comma-dangle": [2, "always-multiline"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
